.header {
    position: sticky;
    top: 0;
    margin-bottom: 80px;
    border-bottom: 1px solid $border-color;
}

.navbar {
    
}
.nav-items {
    list-style: none;
}

.navbar.navbar-horizontal .nav-items{
    display: flex;
    align-self: flex-end;
}

.nav-item {
    
}
.nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 30px 20px;
    color: #d1d1d1;
    transition: .3s;
    &:hover {
        color: $primary;
    }
}


