.bold {
    font-weight: 800 !important;
}
.semi-bold {
    font-weight: 700 !important;
}
.thin {
    font-weight: 300 !important;
}
.captalize {
    text-transform: capitalize !important;
}
.uppercase {
    text-transform: uppercase !important;
}
