body::-webkit-scrollbar{
    width: 0;
    height: 0;
}
* {
    scroll-behavior: smooth;
}
body {
    background-color: map.get($theme-colors, "black");
    font-family: 'Inter';
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
