// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #252525;
$body-color: #f4f4f4;

$primary: rgb(39, 105, 228);

