.sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    z-index: 1000;
    // padding: 10px 15px;
    .navbar {
        display: block;
        width: 100%;

        .nav-link {
            padding: 10px 15px;
            svg{
                fill: rgb(88, 87, 87);
                transition: .3s;
                width: 20px;
                height: 20px;
            }
            &:hover,
            &.active {
                display: block;
                background-color: $primary;
                color: #fff;
                svg{
                    fill: #fff;
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .sidebar {
        top: 0;
        left: 0;
        height: 100%;
        width: 310px;
        // padding: 20px 15px;
    }
}
